<div class='w-full h-screen flex justify-center items-center bg-slate-50 dark:bg-gray-950 text-slate-800 dark:text-slate-200 font-bold'>
  <div class='border border-gray-900 dark:border-gray-200 rounded p-4'>
    <div class='w-44 mb-1'>
      <input
        type='text'
        class='w-full h-10 p-2 text-right text-xl font-mono bg-green-700 text-slate-800 border rounded'
      />
    </div>
    <div class="grid grid-cols-4 justify-center gap-2 py-1 w-44">
      <button class="col-span-2 h-10 border rounded-md border-gray-900 dark:border-gray-200 hover:border-green-400 hover:text-green-400">C</button>
      <button class="h-10 border rounded-md border-gray-900 dark:border-gray-200 hover:border-green-400 hover:text-green-400">&#9003;</button>
      <button class="h-10 border rounded-md border-gray-900 dark:border-gray-200 hover:border-green-400 hover:text-green-400">/</button>
    </div>
    <div class="grid grid-cols-4 justify-center gap-2 py-1 w-44">
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">7</button>
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">8</button>
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">9</button>
      <button class="h-10 border rounded-md border-gray-900 dark:border-gray-200 hover:border-green-400 hover:text-green-400">*</button>
    </div>
    <div class="grid grid-cols-4 justify-center gap-2 py-1 w-44">
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">4</button>
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">5</button>
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">6</button>
      <button class="h-10 border rounded-md border-gray-900 dark:border-gray-200 hover:border-green-400 hover:text-green-400">-</button>
    </div>
    <div class="grid grid-cols-4 justify-center gap-2 py-1 w-44">
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">1</button>
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">2</button>
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">3</button>
      <button class="h-10 border rounded-md border-gray-900 dark:border-gray-200 hover:border-green-400 hover:text-green-400">+</button>
    </div>
    <div class="grid grid-cols-4 justify-center gap-2 py-1 w-44">
      <button class="h-10 border rounded-md border-gray-900 dark:border-gray-200 hover:border-green-400 hover:text-green-400">+/-</button>
      <button class="h-10 rounded-md bg-cyan-700 hover:text-green-400">0</button>
      <button class="h-10 border rounded-md border-gray-900 dark:border-gray-200 hover:border-green-400 hover:text-green-400">.</button>
      <button class="h-10 border rounded-md border-gray-900 dark:border-gray-200 hover:border-green-400 hover:text-green-400">=</button>
    </div>
  </div>
</div>